<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestMainFeedJson</key>
	<string>http://www.pixilit.com/rest/main-feed.json</string>
	<key>UserPath</key>
	<string>http://www.pixilit.com/user/</string>
	<key>NodePath</key>
	<string>http://www.pixilit.com/node/</string>
	<key>AppTitle</key>
	<string>Pixilit</string>
	<key>FilePathPublicValue</key>
	<string>http://www.pixilit.com/sites/default/files/</string>
	<key>FilePathPublicPlaceholder</key>
	<string>public://</string>
	<key>ContentTypeBusiness</key>
	<string>business</string>
	<key>RestBusinessTileJson</key>
	<string>http://www.pixilit.com/rest/businesstile.json?nid=</string>
	<key>RestBusinessesJson</key>
	<string>http://www.pixilit.com/rest/businesses.json</string>
	<key>RestMainNewsPageJson</key>
	<string>http://www.pixilit.com/rest/main-news-page.json</string>
</dict>
</plist>
