<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestUserLogout</key>
	<string>http://104.236.227.190/rest/user/logout</string>
	<key>RestSystemConnect</key>
	<string>http://104.236.227.190/rest/system/connect</string>
	<key>RestUserToken</key>
	<string>http://104.236.227.190/rest/user/token</string>
	<key>RestUserProfile</key>
	<string>http://104.236.227.190/rest/profile2/</string>
	<key>RestIsFlagged</key>
	<string>http://104.236.227.190/rest/flag/is_flagged.json</string>
	<key>RestFlagJson</key>
	<string>http://104.236.227.190/rest/flag/flag.json</string>
	<key>RestRegionsJson</key>
	<string>http://104.236.227.190/rest/regions.json?tid=</string>
	<key>BusinessRegistrationURL</key>
	<string>http://104.236.227.190/business/register</string>
	<key>UserRegistrationURL</key>
	<string>http://104.236.227.190/user/register</string>
	<key>RestUserLogin</key>
	<string>http://104.236.227.190/rest/user/login</string>
	<key>UserFlagsJson</key>
	<string>http://104.236.227.190/rest/user-pix.json?uid=</string>
	<key>RestMainFeedJson</key>
	<string>http://104.236.227.190/rest/main-feed.json</string>
	<key>UserPath</key>
	<string>http://104.236.227.190/user/</string>
	<key>NodePath</key>
	<string>http://104.236.227.190/node/</string>
	<key>AppTitle</key>
	<string>Pixilit</string>
	<key>FilePathPublicValue</key>
	<string>http://104.236.227.190/sites/default/files/</string>
	<key>FilePathPublicPlaceholder</key>
	<string>public://</string>
	<key>ContentTypeBusiness</key>
	<string>business</string>
	<key>RestBusinessTileJson</key>
	<string>http://104.236.227.190/rest/business-pix.json?uid=</string>
	<key>RestBusinessesJson</key>
	<string>http://104.236.227.190/rest/businesses.json</string>
	<key>RestMainNewsPageJson</key>
	<string>http://104.236.227.190/rest/news-feed.json</string>
	<key>RestFacebookConnect</key>
	<string>http://104.236.227.190/rest/fboauth/connect.json</string>
	<key>RestBusinessJson</key>
	<string>http://104.236.227.190/rest/business.json?uid=</string>
</dict>
</plist>
