<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestUserLogin</key>
	<string>http://104.236.227.190/rest/user/login</string>
	<key>UserFlagsJson</key>
	<string>http://104.236.227.190/rest/flags-pixd-tab.json?uid=</string>
	<key>RestMainFeedJson</key>
	<string>http://104.236.227.190/rest/main-feed.json</string>
	<key>UserPath</key>
	<string>http://104.236.227.190/user/</string>
	<key>NodePath</key>
	<string>http://104.236.227.190/node/</string>
	<key>AppTitle</key>
	<string>Pixilit</string>
	<key>FilePathPublicValue</key>
	<string>http://104.236.227.190/sites/default/files/</string>
	<key>FilePathPublicPlaceholder</key>
	<string>public://</string>
	<key>ContentTypeBusiness</key>
	<string>business</string>
	<key>RestBusinessTileJson</key>
	<string>http://104.236.227.190/rest/businesstile.json?nid=</string>
	<key>RestBusinessesJson</key>
	<string>http://104.236.227.190/rest/businesses.json</string>
	<key>RestMainNewsPageJson</key>
	<string>http://104.236.227.190/rest/main-news-page.json</string>
</dict>
</plist>
